@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    background-color: #00000057;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600%;
}

.navegacion a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 135px;
    margin-right: 135px;
    transition: 0.5s;
}

.navegacion a:hover{
    color:#E88B40;
    transform: scale(1.1);
}

.navegacion button {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: auto;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    padding: 8px 16px;
}

.navegacion button:hover {
    color: aliceblue;
    background-color: #003F7D;
    box-shadow: 0 5px 20px rgba(182, 166, 92, 0.4);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../../recursos_multimedia/background_tienda.png) no-repeat;
    background-position: center;
    backdrop-filter: blur(10px);
    background-size: cover;
}

main {
    margin-top: 130px;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #00000057;
    text-align: right;
    padding: 10px 20px;
}

.boton_volumen {
    color: white;
    font-size: 1.84em;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 4px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 10px;
    transition: 0.3s;
}

.boton_volumen:hover {
    color: aliceblue;
    background-color: #FF8E00;
}

.navegacion a.tienda {
    color: #003F7D;
    opacity: 40%;
    font-size: 20px;
}

.tienda_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.item {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 210px;
    height: 400px;
}

.item:hover {
    transform: scale(1.008);
}
.elem_grande:hover {
    transform: scale(1.008);
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #444;
}

.elem_grande {
    grid-row: span 2;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 200px;
    height: 665px;
}

.elem_grande img {
    width: 100%;
    height: 450px;
}

.detalles_items {
    padding: 15px;
}

.detalles_items h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.detalles_items p {
    font-size: 14px;
    color: #ccc;
    text-align: justify;
}

.ganar_dinero {
    grid-column: -5 / -1;
    grid-row: span 2;
    height: 245px;
    width: 900px;
}

.boton_comprar {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.boton_comprar:hover {
    background-color: #FF5003;
}

.pack_agua .detalles_items h2 {
    animation: cambio_color_agua 5s infinite;
    text-align: center;

}
@keyframes cambio_color_agua {
    0% { color: #0f5e9c;}
    25% { color:#2389da;} 
    50% { color: #1ca3ec;} 
    75% { color: #5abcd8;} 
    100% { color: #0f5e9c;} 
}

.pack_fuego .detalles_items h2 {
    animation: cambio_color_fuego 5s infinite;
    text-align: center;
}
@keyframes cambio_color_fuego{
    0% { color: #ff0000;}
    25% { color:#ff5a00;} 
    50% { color: #ff9a00;} 
    75% { color: #ffce00;} 
    100% { color: #ff0000;} 
}

.pack_hielo .detalles_items h2 {
    animation: cambio_color_hielo 5s infinite;
    text-align: center;
}
@keyframes cambio_color_hielo {
    0% { color: #ffffff;}
    25% { color:#b9e8ea;} 
    50% { color: #86d6d8;} 
    75% { color: #3fd0d4;} 
    100% { color: #ffffff;} 
}

.pack_tierra .detalles_items h2 {
    animation: cambio_color_tierra 5s infinite;
    text-align: center;
}
@keyframes cambio_color_aleatorio {
    0% { color: #ff3333;}
    25% { color:#0077cc;} 
    50% { color: #cde4f3;} 
    75% { color: #604a33;} 
    100% { color: #ff3333;} 
}

.elem_grande .detalles_items h2{
    animation: cambio_color_aleatorio 5s infinite;
    text-align: center;
}

@keyframes cambio_color_tierra {
    0% { color: #b69f66;}
    25% { color:#6b5428;} 
    50% { color: #6b5428;} 
    75% { color: #76552b;} 
    100% { color: #b69f66;} 
}

.ganar_dinero .detalles_items h2 {
    animation: color_oro 5s infinite;
    text-align: center;
}

@keyframes color_oro {
    0% { color: #AE8626;}
    25% { color:#F7EF8A;} 
    50% { color: #F7EF8A;} 
    75% { color: #D2AC47;} 
    100% { color: #AE8626;} 
}