@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
}

h1 {

    font-size: 1.1;
    color: #3D9493;
    position: left;

}

h1:hover {
    transform: scale(1.1);
    color: #E88B40;

}

header {
    background-color: #00000057;
    padding: 10px 20px;
}

.navegacion a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 10px;
    transition: 0.5s;
}

.navegacion a:hover {
    text-decoration: underline;
    color: #3D9493;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../recursos_multimedia/login.png) no-repeat;
    background-position: center;
    background-size: cover;

}

.register_form h2 {
    color: white;
    padding: 0 0 20px 0;
    text-align: center;
    font-size: 220%;

}

.register_form {
    padding: 10px;
    width: 450px;
    height: 100%;
    z-index: 100;
    background: transparent;
    border-radius: 18px;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    align-items: center;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.781);
}

.register_form input {
    padding-right: 115px;
    color: white;
    position: relative;
    margin: 20px 0;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    border-bottom: 1px solid white;
}

.register_form a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: #DF7A39;
    font-weight: 500;
    font-weight: 115px;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 3px;
    font-weight: bold;
}

.register_form a:hover {
    color: white;
    text-decoration: underline;

}

.register_form [type="submit"] {
    font-size: 16px;
    color: white;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: 700;
    border-radius: 25px;

}

.register_form [type="submit"]:hover {
    color: aliceblue;
    background-color: #DF7A39;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox span {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    margin-bottom: 2px;
}

.custom-checkbox input[type="checkbox"]:checked+span {
    background-color: #E88B40;
    border-color: #E88B40;
}

.custom-checkbox span:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked+span:after {
    display: block;
}

.custom-checkbox span:after {
    left: 2.5px;
    top: 1px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.form_box {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.terminos_condiciones {
    display: none;
}