@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
}

h1 {

    font-size: 1.1;
    color: #3D9493;
    position: left;

}

h1:hover {
    transform: scale(1.1);
    color: #E88B40;

}

header {
    background-color: #00000057;
    padding: 10px 20px;
}

.navegacion a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 10px;
    transition: 0.5s;
}

.navegacion a:hover {
    text-decoration: underline;
    color: #3D9493;

}

.navegacion .boton_login {
    color: white;
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 10px;
    transition: 0.3s;
}

.navegacion .boton_login a {
    margin: 0;
    margin-top: 10px;
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}


.navegacion .boton_login:hover {
    color: aliceblue;
    background-color: #E88B40;
    box-shadow: 0 5px 20px rgba(182, 166, 92, 0.4);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../../Frontend/recursos_multimedia/login.png) no-repeat;
    backdrop-filter: blur(10px);
    background-position: center;
    background-size: cover;

}

header {
    background-color: #00000057;
    padding: 10px 20px;
}

.productos .box_container{
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: nowrap;
}


.productos .box_container .box .imagen {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.productos .box_container .box .imagen img {
    height: 14rem;
    border-radius: 20px;
}

.productos .box_container .box .imagen:hover {
    transform: scale(1.02);
}

.productos .box_container .box .imagen:hover img {
    content: url('./imagenes_merch/buzo_B.jpeg');
}

.productos .box_container .box .descripcion .precio span{
    font-size:15px;
    color: #d1a988;
    text-decoration: line-through;
}

.productos .box_container .box .descripcion .precio{
    color:white;
    font-size: 17px;;
}
.productos h2{
    color:#E88B40;
}

.productos .box_container .box .imagen .icons{
    color: whitesmoke;
    
}